body {
    background-color: #eee;   
    font-family: 'Roboto', sans-serif;
}

#cabecalho {
    border: 5px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.logo { 
    display: inline-block;
    
}

.form-pesquisa { 
    margin-top: 15px;
    
    
}
.menu {
    
    margin-top: 15px;
    margin-right: 200px;
    margin-left: 300px;
}
.menu-link {
    display: inline-block;
    margin-right: 5px;
}

h1  {
    color: red;
}

img#imagem {
    float: left;
   
}
li {
    list-style: none;
    display: inline-block;
}
.centralizar {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align-last: center;
}
.img_esquerda {
    float:right;
    margin:0 20px 10px 0;
  }
.img-principal {
    float: left;
}

.img-list {
    clear: left; 
}


#rodape {
    border-top: 1px solid #222;
}

#rodape p {
    font-size: 12px;
    text-align: center;
}
.email {
    text-align: center;
}